@media (max-width: 700px) {

    .datoslogin{
        width: 300px;
        height: 400px;
    
        
    }
    .datoslogin h2{
        
        font-size: 20px;
}
.datoslogin input[type="text"],
.datoslogin input[type="password"]{

font-size: 13px;

}
.datoslogin input[type="submit"]{
   
    font-size: 15px;
    }
}